.container {
  background-color: #B0DFE5;
}

#city {
  color: white;
  font-size: 3em;
}

#dayTitle1 {
  font-size: 2em;
}

#featured img {
  width: 200px;
  height: 200px;
}

img {
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
}

.featured {
  width: 40%;
  margin-top: 15px;
  text-align: center;
  color: white;
}


.featured, .day {
  background-color: steelblue;
  border-radius: 1em;
  box-shadow: 10px 10px 5px #888888;
}

.day {
 text-align: center;
 color: white;
}

#dayDescrip {
  width: 70%;
  margin: auto;
  margin-bottom: 15px;
  text-align: center;
  padding: 5px;
  border-radius: 1em;
  font-size: 24px;
}

#dayDescrip2.panel,
#dayDescrip3.panel,
#dayDescrip4.panel,
#dayDescrip5.panel {
  text-align: center;
  border-radius: 1em;
  padding: 5px;
}


