doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Weather App
    link(rel="stylesheet" href="/vendor/foundation/css/foundation.css")
    link(rel="stylesheet" href="/css/main.css")

  body
  .container
   .row
      .large-12.columns
        // Navigation
        nav.top-bar
          ul.title-area
            // Title Area
            li.name
              h1
                a(href='#')
                  | Weekly Forecast
            li.toggle-topbar.menu-icon
              a(href='#')
                span menu
          section.top-bar-section
            ul.right
              li.search
                form
                  input(type='text' id='zipcode' placeholder='Zip Code')
              li.has-button
                a.small.button(href='#') Submit
        // End Navigation
    .row.featured
      .large-12.columns
        #city
        .hide-for-small
          #featured
          #dayTitle1
          #dayDescrip.panel
    .row
      .large-12.columns.gap
        br
    .row.days.clearfix
      .large-12.columns
        .row
          .large-3.small-6.columns.day
            #img2
            #dayTitle2
            #dayDescrip2.panel
          .large-3.small-6.columns.day
            #img3
            #dayTitle3
            #dayDescrip3.panel
          .large-3.small-6.columns.day
            #img4
            #dayTitle4
            #dayDescrip4.panel
          .large-3.small-6.columns.day
            #img5
            #dayTitle5
            #dayDescrip5.panel
    footer.row
      .large-12.columns
        hr
        .row
          .large-6.columns
            p © Copyright Andy, Katye, Elisha, Margaret
          .large-6.columns
            ul.inline-list.right
              li
                a(href='http://www.wunderground.com/') Weather Underground
   script(src="js/main.js")

